.countof {
}

.countof_card {
   height: 7.5rem;
   width: 15rem;
   align-content: center;
   background: #F1F2F5;
   border-radius: 0.75rem;
}

.countof_card p {
   margin: 0;
   text-align: center;
   font-size: 27px;
}

.countof_card h1{
   margin: 0;
   padding-top: 5px;
   text-align: center;
}
